# Секреты и локальные настройки
.env
.env.*
!.env.example
*.key
*.pem

# Системные файлы
.DS_Store
Thumbs.db
Desktop.ini

# Настройки редакторов
.idea/
.vscode/

# Временные файлы
*.tmp
*.temp
*.log
~$*

