.product-grid{display:grid;gap:var(--space-grid);grid-auto-columns:calc((100% - 3 * var(--space-grid))/4);grid-auto-flow:column;overflow-x:auto;padding-bottom:.5rem;scrollbar-width:none}
.product-grid::-webkit-scrollbar{display:none}
@media(max-width:1023px){.product-grid{grid-auto-columns:calc((100% - var(--space-grid))/2)}}
@media(max-width:519px){.product-grid{grid-auto-columns:82%;scroll-snap-type:x mandatory}}
@media(min-width:1680px){.product-grid{grid-auto-columns:calc((100% - 4 * var(--space-grid))/5)}}
